openapi: 3.2.0
info:
  title: Learn Rest Enrollment API
  version: '3.0'
  description: Enrollment operations
servers:
- url: https://api-learn.ispring.com
  description: Main server
security:
- bearerAuth: []
tags:
- name: Enrollment
  description: Enrollment operations
paths:
  /enrollment:
    get:
      tags:
      - Enrollment
      summary: Get enrollment list
      operationId: GetEnrollments
      parameters:
      - name: courseIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: learnerIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: enrollmentIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                required:
                - enrollments
                properties:
                  enrollments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enrollment'
                type: object
            application/xml:
              schema:
                required:
                - enrollments
                properties:
                  enrollments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enrollment'
                type: object
                xml:
                  name: response
                  wrapped: true
    post:
      tags:
      - Enrollment
      summary: Create new enrollments
      operationId: EnrollLearnersInCourses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEnrollment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewEnrollment'
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollments:
    get:
      tags:
      - Enrollment
      summary: List enrollments
      operationId: ListEnrollments
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      - name: courseIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: learnerIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: enrollmentIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
      - Enrollment
      summary: List enrollments
      operationId: ListEnrollmentsByPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEnrollmentsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ListEnrollmentsRequest'
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollment/{enrollmentId}:
    get:
      tags:
      - Enrollment
      summary: Get enrollment details
      operationId: GetEnrollment
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
            application/xml:
              schema:
                properties:
                  enrollment:
                    $ref: '#/components/schemas/Enrollment'
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
      - Enrollment
      summary: Update enrollment
      operationId: ChangeEnrollment
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnrollment'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateEnrollment'
      responses:
        '200':
          description: Success Response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollment/{enrollmentId}/reenroll:
    post:
      tags:
      - Enrollment
      summary: Reenroll learner
      operationId: Reenroll
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reenroll'
          application/xml:
            schema:
              $ref: '#/components/schemas/Reenroll'
      responses:
        '200':
          description: Success Response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollment/delete:
    post:
      tags:
      - Enrollment
      summary: Delete enrollments
      operationId: Unenroll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteEnrollments'
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteEnrollments'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
components:
  schemas:
    ArrayOfIds:
      type: array
      items:
        type: string
        format: uuid
        xml:
          name: id
      xml:
        wrapped: true
    EnrollmentTypeGroup:
      description: 0 - Enrolled by admin 1 - Enrolled from catalog
      type: integer
      enum:
      - 0
      - 1
    EnrollmentsPage:
      required:
      - enrollments
      properties:
        enrollments:
          type: array
          items:
            $ref: '#/components/schemas/Enrollment'
          xml:
            wrapped: true
        nextPageToken:
          type: string
      type: object
      xml:
        name: response
    ListEnrollmentsRequest:
      properties:
        pageSize:
          type: integer
          xml:
            name: pageSize
            wrapped: false
        pageToken:
          type: integer
          xml:
            name: pageToken
            wrapped: false
        courseIds:
          type: array
          items:
            type: string
            format: uuid
          xml:
            name: courseIds
            wrapped: false
        learnerIds:
          type: array
          items:
            type: string
            format: uuid
          xml:
            name: learnerIds
            wrapped: false
        enrollmentIds:
          type: array
          items:
            type: string
            format: uuid
          xml:
            name: enrollmentIds
            wrapped: false
      type: object
    NewEnrollment:
      required:
      - courseIds
      - learnerIds
      - dueDateType
      properties:
        courseIds:
          $ref: '#/components/schemas/ArrayOfIds'
        learnerIds:
          $ref: '#/components/schemas/ArrayOfIds'
        dueDateType:
          $ref: '#/components/schemas/DueDateType'
        dueDate:
          type: string
          format: date
        duePeriod:
          type: integer
        accessDate:
          type: string
          format: date
        lockAfterDueDate:
          type: boolean
      type: object
      xml:
        name: request
    ErrorResponse:
      required:
      - code
      - message
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
      xml:
        name: response
    UpdateEnrollment:
      required:
      - accessDate
      - dueDateType
      properties:
        accessDate:
          type: string
          format: datetime
        dueDateType:
          $ref: '#/components/schemas/DueDateType'
        dueDate:
          type: string
          format: date
        duePeriod:
          type: integer
        lockAfterDueDate:
          type: boolean
      type: object
      xml:
        name: request
    DueDateType:
      type: string
      enum:
      - unlimited
      - default
      - due_date
      - due_period
    DeleteEnrollments:
      required:
      - enrollmentIds
      properties:
        enrollmentIds:
          $ref: '#/components/schemas/ArrayOfIds'
      type: object
      xml:
        name: request
    IssuedCertificateInformation:
      required:
      - issuedCertificateId
      - issueDate
      properties:
        issuedCertificateId:
          type: string
          format: uuid
        issueDate:
          type: string
          format: date
        expiryDate:
          type: string
          format: date
      type: object
    Reenroll:
      required:
      - accessDate
      - dueDateType
      properties:
        accessDate:
          type: string
          format: date
        dueDateType:
          $ref: '#/components/schemas/DueDateType'
        dueDate:
          type: string
          format: date
        duePeriod:
          type: integer
        lockAfterDueDate:
          type: boolean
      type: object
      xml:
        name: request
    Enrollment:
      required:
      - enrollmentId
      - courseId
      - learnerId
      - accessDate
      - shouldLockAfterDueDate
      - enrollmentTypeGroup
      properties:
        enrollmentId:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        learnerId:
          type: string
          format: uuid
        accessDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        expirationDate:
          type: string
          format: date
        shouldLockAfterDueDate:
          type: boolean
        certificate:
          $ref: '#/components/schemas/IssuedCertificateInformation'
        enrollmentTypeGroup:
          $ref: '#/components/schemas/EnrollmentTypeGroup'
      type: object
      xml:
        name: enrollment
  parameters:
    pageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
    pageToken:
      name: pageToken
      in: query
      required: false
      schema:
        type: string
  responses:
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
