openapi: 3.2.0
info:
  title: Learn Rest Departments API
  version: '3.0'
servers:
- url: https://api-learn.ispring.com
  description: Main server
security:
- bearerAuth: []
tags:
- name: Departments
paths:
  /departments:
    get:
      tags:
      - Departments
      summary: List departments
      operationId: ListDepartments
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/DepartmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
components:
  schemas:
    Department:
      required:
      - departmentId
      - name
      - subordination
      - coSubordination
      properties:
        departmentId:
          type: string
          format: uuid
        name:
          type: string
        parentDepartmentId:
          type: string
          format: uuid
        code:
          type: string
        subordination:
          $ref: '#/components/schemas/Subordination'
        coSubordination:
          $ref: '#/components/schemas/Subordination'
      type: object
      xml:
        name: department
    DepartmentsPage:
      required:
      - departments
      properties:
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
          xml:
            wrapped: true
        nextPageToken:
          type: string
      type: object
      xml:
        name: response
    ErrorResponse:
      required:
      - code
      - message
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
      xml:
        name: response
    Subordination:
      required:
      - subordinationType
      properties:
        subordinationType:
          type: string
          enum:
          - manual
          - inherit
          - no_supervisor
        supervisorId:
          type: string
      type: object
  responses:
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    pageToken:
      name: pageToken
      in: query
      required: false
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
