openapi: 3.2.0
info:
  title: Learn Rest Certificate API
  version: '3.0'
  description: Certificate operations
servers:
- url: https://api-learn.ispring.com
  description: Main server
security:
- bearerAuth: []
tags:
- name: Certificate
  description: Certificate operations
paths:
  /certificate/{issuedCertificateId}:
    get:
      tags:
      - Certificate
      summary: Retrieves issued certificate information
      operationId: GetIssuedCertificate
      parameters:
      - name: issuedCertificateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/IssuedCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                example: Issued certificate not found
components:
  schemas:
    ErrorResponse:
      required:
      - code
      - message
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
      xml:
        name: response
    IssuedCertificate:
      required:
      - url
      properties:
        url:
          type: string
          format: url
      type: object
      xml:
        name: attachment
  responses:
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
