openapi: 3.0.0
info:
  title: 'Learn Rest Api'
  version: '3.0'
servers:
  -
    url: 'https://api-learn.ispring.com'
    description: 'Main server'
paths:
  /api/v3/token:
    post:
      tags:
        - token
      summary: 'Generates a new access token based on client_id and client_secret'
      operationId: AccessRequest
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientCredentialsGrantTypeRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
      security:
        - {  }
  /content:
    get:
      tags:
        - content
      summary: 'Get content list'
      operationId: GetContent
      parameters:
        -
          $ref: '#/components/parameters/targetLocale'
        -
          name: contentTypes
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentType'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentItemInformation'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentItemInformation'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /contents:
    get:
      tags:
        - content
      summary: 'List content'
      operationId: ListContent
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          $ref: '#/components/parameters/targetLocale'
        -
          name: 'contentItemIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: contentTypes
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentType'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItemsInformationPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ContentItemsInformationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - content
      summary: 'List content'
      operationId: ListContentByPost
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              properties:
                contentItemIds:
                  type: array
                  items: { type: string, format: uuid }
                  xml: { name: contentItemIds }
                contentTypes:
                  type: array
                  items: { $ref: '#/components/schemas/ContentType' }
                  xml: { name: contentTypes }
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItemsInformationPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ContentItemsInformationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/content/{contentId}':
    get:
      tags:
        - content
      summary: 'Get content item'
      operationId: GetContentItem
      parameters:
        -
          $ref: '#/components/parameters/targetLocale'
        -
          name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - contentItem
                properties:
                  contentItem: { $ref: '#/components/schemas/ContentItemInformation' }
                type: object
            application/xml:
              schema:
                required:
                  - contentItem
                properties:
                  contentItem: { $ref: '#/components/schemas/ContentItemInformation' }
                type: object
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/content/{contentId}/final_statuses':
    get:
      tags:
        - content
      summary: 'Get content item final statuses'
      operationId: GetContentItemFinalStatuses
      parameters:
        -
          name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentItemFinalStatus'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentItemFinalStatus'
                xml:
                  name: statuses
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
          content:
            text/plain:
              schema:
                type: string
                example: 'Unknown content item'
  /courses/modules:
    get:
      tags:
        - content
      summary: 'List courses modules'
      operationId: ListCoursesModules
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          name: courseIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesModulesPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/CoursesModulesPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
      deprecated: true
  /course_fields:
    get:
      tags:
        - content
      summary: 'List course fields'
      operationId: ListCourseFields
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseFields'
            application/xml:
              schema:
                $ref: '#/components/schemas/CourseFields'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/content/create/{contentType}':
    post:
      tags:
        - content
      summary: 'Create content item'
      operationId: CreateContent
      parameters:
        -
          name: contentType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ContentType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                -
                  $ref: '#/components/schemas/CreateCourseRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: 'The content item ID'
                type: string
                format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/course/{courseId}/modules':
    get:
      tags:
        - content
      summary: 'List modules by course id'
      operationId: ListCourseModules
      parameters:
        -
          name: courseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - modules
                properties:
                  modules: { type: array, items: { $ref: '#/components/schemas/CoursesModule' } }
                type: object
            application/xml:
              schema:
                required:
                  - modules
                properties:
                  modules: { type: array, items: { $ref: '#/components/schemas/CoursesModule' } }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Unknown content item'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /statistics/course:
    post:
      tags:
        - statistics
      summary: 'Update course status'
      operationId: UpdateCourseStatus
      parameters:
        -
          name: courseId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        -
          name: enrollmentIds
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ArrayOfIds'
        -
          name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CourseCompletionStatus'
        -
          name: date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        -
          name: reason
          in: query
          required: false
          schema:
            type: string
        -
          name: awardedScore
          in: query
          required: false
          schema:
            type: number
            maximum: 100
            minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCourseStatus'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCourseStatus'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
            application/xml:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /statistics/module:
    post:
      tags:
        - statistics
      summary: 'Update modules statuses'
      operationId: UpdateModuleStatuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModulesStatuses'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateModulesStatuses'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
            application/xml:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    delete:
      tags:
        - statistics
      summary: 'Reset modules statistics'
      operationId: ResetModuleStatistics
      parameters:
        -
          name: courseId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        -
          name: enrollmentIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: contentItemIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
            application/xml:
              schema:
                required:
                  - taskId
                properties:
                  taskId: { description: 'Async Task ID', type: integer }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/task/{taskId}/status':
    get:
      tags:
        - task
      summary: 'Get async task status'
      operationId: GetTaskStatus
      parameters:
        -
          name: taskId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /assignments:
    get:
      tags:
        - assignments
      summary: 'List assignments'
      operationId: ListAssignments
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          name: ungraded
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/AssignmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/assignment/{assignmentId}/attempts/ungraded':
    get:
      tags:
        - assignments
      summary: 'Retrieves a list of ungraded attempts for an assignment'
      operationId: ListAssignmentAttempts
      parameters:
        -
          name: assignmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        -
          name: 'userIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentAttempt'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentAttempt'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /assignments/attempts/grade:
    post:
      tags:
        - assignments
      summary: 'Grade user assignment attempts'
      operationId: GradeAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentAttemptGrades'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignmentAttemptGrades'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /learning_track/courses:
    get:
      tags:
        - learning_track
      summary: 'Retrieves a list of courses included in the trajectories'
      operationId: ListLearningTracksCourses
      parameters:
        -
          name: learningTrackIds
          in: query
          required: true
          schema:
            description: 'Comma-separated array of track IDs'
            type: string
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningTrackCourse'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningTrackCourse'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /courses_tree:
    get:
      tags:
        - content
      summary: 'Get courses tree'
      operationId: GetCoursesTree
      parameters:
        -
          $ref: '#/components/parameters/targetLocale'
        -
          name: contentItemIds
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ArrayOfIds'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseTreeItem'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseTreeItem'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /quizzes:
    get:
      tags:
        - quizzes
      summary: 'Retrieves a list of quizzes'
      operationId: ListQuizzes
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          name: quizIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: contentItemIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: parentCourseIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizzesPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/QuizzesPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /department:
    get:
      tags:
        - department
      summary: 'Get department list'
      operationId: GetDepartments
      parameters:
        -
          name: code
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - departments
                properties:
                  departments: { type: array, items: { $ref: '#/components/schemas/Department' } }
                type: object
            application/xml:
              schema:
                required:
                  - departments
                properties:
                  departments: { type: array, items: { $ref: '#/components/schemas/Department' } }
                type: object
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - department
      summary: 'Add a new department'
      operationId: AddDepartment
      parameters:
        -
          $ref: '#/components/parameters/returnObject'
        -
          name: X-Name
          in: header
          required: false
          schema:
            type: string
        -
          name: X-Parent-Department-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
        -
          name: X-Code
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDepartment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewDepartment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: 'The department ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The department ID'
                type: string
                format: uuid
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/department/{departmentId}':
    get:
      tags:
        - department
      summary: 'Get department info'
      operationId: GetDepartment
      parameters:
        -
          name: departmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/Department' }
                type: object
            application/xml:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/Department' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - department
      summary: 'Update department'
      operationId: UpdateDepartment
      parameters:
        -
          name: departmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDepartment'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateDepartment'
      responses:
        '204':
          description: 'No Content'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    delete:
      tags:
        - department
      summary: 'Delete department'
      operationId: RemoveDepartment
      parameters:
        -
          name: departmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 'Successful operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /departments:
    get:
      tags:
        - departments
      summary: 'List departments'
      operationId: ListDepartments
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/DepartmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/department/{departmentId}/subordination':
    post:
      tags:
        - department
      summary: 'Change department subordination'
      operationId: ChangeDepartmentSubordination
      parameters:
        -
          name: departmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDepartmentSubordination'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeDepartmentSubordination'
      responses:
        '204':
          description: 'Successful operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/department/{departmentId}/user/move':
    post:
      tags:
        - department
      summary: 'Move users to department'
      operationId: MoveUsersToDepartment
      parameters:
        -
          name: departmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveUsersToDepartment'
          application/xml:
            schema:
              $ref: '#/components/schemas/MoveUsersToDepartment'
      responses:
        '204':
          description: 'Successful operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/department/{parentId}/department/move':
    post:
      tags:
        - department
      summary: 'Move departments to parent department'
      operationId: MoveDepartments
      parameters:
        -
          name: parentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveDepartments'
          application/xml:
            schema:
              $ref: '#/components/schemas/MoveDepartments'
      responses:
        '204':
          description: 'Successful operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  /enrollment:
    get:
      tags:
        - enrollment
      summary: 'Get enrollment list'
      operationId: GetEnrollments
      parameters:
        -
          name: 'courseIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: 'learnerIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: 'enrollmentIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - enrollments
                properties:
                  enrollments: { type: array, items: { $ref: '#/components/schemas/Enrollment' } }
                type: object
            application/xml:
              schema:
                required:
                  - enrollments
                properties:
                  enrollments: { type: array, items: { $ref: '#/components/schemas/Enrollment' } }
                type: object
                xml:
                  name: response
                  wrapped: true
    post:
      tags:
        - enrollment
      summary: 'Create new enrollments'
      operationId: EnrollLearnersInCourses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEnrollment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewEnrollment'
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollments:
    get:
      tags:
        - enrollment
      summary: 'List enrollments'
      operationId: ListEnrollments
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          name: 'courseIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: 'learnerIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: 'enrollmentIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - enrollment
      summary: 'List enrollments'
      operationId: ListEnrollmentsByPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEnrollmentsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ListEnrollmentsRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/EnrollmentsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/enrollment/{enrollmentId}':
    get:
      tags:
        - enrollment
      summary: 'Get enrollment details'
      operationId: GetEnrollment
      parameters:
        -
          name: enrollmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
            application/xml:
              schema:
                properties:
                  enrollment: { $ref: '#/components/schemas/Enrollment' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - enrollment
      summary: 'Update enrollment'
      operationId: ChangeEnrollment
      parameters:
        -
          name: enrollmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnrollment'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateEnrollment'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/enrollment/{enrollmentId}/reenroll':
    post:
      tags:
        - enrollment
      summary: 'Reenroll learner'
      operationId: Reenroll
      parameters:
        -
          name: enrollmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reenroll'
          application/xml:
            schema:
              $ref: '#/components/schemas/Reenroll'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /enrollment/delete:
    post:
      tags:
        - enrollment
      summary: 'Delete enrollments'
      operationId: Unenroll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteEnrollments'
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteEnrollments'
      responses:
        '204':
          description: 'No Content'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/certificate/{issuedCertificateId}':
    get:
      tags:
        - certificate
      summary: 'Retrieves issued certificate information'
      operationId: GetIssuedCertificate
      parameters:
        -
          name: issuedCertificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/IssuedCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Not found'
          content:
            text/plain:
              schema:
                type: string
                example: 'Issued certificate not found'
  /gamification/points:
    get:
      tags:
        - gamification
      summary: 'Retrieves a list of users and their gamification points'
      operationId: GetGamificationPoints
      parameters:
        -
          name: 'userIds[]'
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserPointsInfo'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserPointsInfo'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /gamification/points/award:
    post:
      tags:
        - gamification
      summary: 'Award points to user'
      operationId: AwardGamificationPoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardGamificationPoints'
          application/xml:
            schema:
              $ref: '#/components/schemas/AwardGamificationPoints'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /gamification/points/withdraw:
    post:
      tags:
        - gamification
      summary: 'Withdraw points from user'
      operationId: WithdrawGamificationPoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawGamificationPoints'
          application/xml:
            schema:
              $ref: '#/components/schemas/WithdrawGamificationPoints'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /group:
    get:
      tags:
        - group
      summary: 'Get group list'
      operationId: GetGroups
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - group
      summary: 'Add a new group'
      operationId: AddGroup
      parameters:
        -
          $ref: '#/components/parameters/returnObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewGroup'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /group/smart:
    post:
      tags:
        - group
      summary: 'Add a new smart group'
      operationId: AddSmartGroup
      parameters:
        -
          $ref: '#/components/parameters/returnObject'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSmartGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewSmartGroup'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/group/smart/{groupId}':
    post:
      tags:
        - group
      summary: 'Update smart group rules'
      operationId: EditSmartGroup
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSmartGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateSmartGroup'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/group/smart/{groupId}/rules':
    get:
      tags:
        - group
      summary: 'Get smart group rules'
      operationId: GetSmartGroupRules
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                required:
                  - smartGroupRules
                properties:
                  smartGroupRules: { $ref: '#/components/schemas/SmartGroupRules' }
                type: object
            application/xml:
              schema:
                required:
                  - smartGroupRules
                properties:
                  smartGroupRules: { $ref: '#/components/schemas/SmartGroupRules' }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/group/{groupId}':
    get:
      tags:
        - group
      summary: 'Get group details'
      operationId: GetGroup
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedGroup'
            application/xml:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/DetailedGroup' }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    post:
      tags:
        - group
      summary: 'Update group'
      operationId: UpdateGroup
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
    delete:
      tags:
        - group
      summary: 'Delete group'
      operationId: RemoveGroup
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: 'No content'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/group/{groupId}/members':
    post:
      tags:
        - group
      summary: 'Update group members'
      operationId: UpdateGroupMembers
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupMembers'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateGroupMembers'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /groups:
    get:
      tags:
        - group
      summary: 'List groups'
      operationId: ListGroups
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GroupsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /job-training/checklist/sessions/list:
    post:
      tags:
        - jobtraining
      summary: 'List сhecklists with sessions'
      operationId: listChecklistSessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChecklistsSessionsRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistSessionsData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistSessionsData'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /job-training/sessions/result/list:
    post:
      tags:
        - jobtraining
      summary: 'List sessions result'
      operationId: listSessionsResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSessionsResultRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobTrainingSessionResultData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobTrainingSessionResultData'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /job-training/completed-session/criterion-group/result/list:
    post:
      tags:
        - jobtraining
      summary: 'List criterion groups result'
      operationId: listCriterionGroupsResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCriterionGroupsResultRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriterionGroupResultData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriterionGroupResultData'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /job-training/completed-session/criterion/result/list:
    post:
      tags:
        - jobtraining
      summary: 'List criterion result in completed sessions'
      operationId: listCriterionResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCriterionResultRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriterionResultData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriterionResultData'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /performance-management/competencies/scale/list:
    get:
      tags:
        - performance-management
      summary: 'List competency scales'
      operationId: ListCompetencyScales
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyScale'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyScale'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /performance-management/competencies/scale/create:
    post:
      tags:
        - performance-management
      summary: 'Create competency scale'
      operationId: CreateCompetencyScale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompetencyScaleData'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'The scale ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The scale ID'
                type: string
                format: uuid
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/performance-management/competencies/scale/{scaleId}/change':
    post:
      tags:
        - performance-management
      summary: 'Change competency scale'
      operationId: ChangeCompetencyScale
      parameters:
        -
          name: scaleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCompetencyScaleRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Scale not found'
  /performance-management/competencies/group/create:
    post:
      tags:
        - performance-management
      summary: 'Create competency group'
      operationId: CreateCompetencyGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompetencyGroupData'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The group ID'
                type: string
                format: uuid
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/performance-management/competencies/group/{groupId}/rename':
    post:
      tags:
        - performance-management
      summary: 'Change competency group name'
      operationId: ChangeCompetencyGroupName
      parameters:
        -
          name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
              type: object
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Group not found'
  /performance-management/competencies/group/batch-move:
    post:
      tags:
        - performance-management
      summary: 'Move competency groups to parent group'
      operationId: MoveCompetencyGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCompetencyGroupsToParentGroup'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Group not found'
  /performance-management/competencies/competency/batch-move:
    post:
      tags:
        - performance-management
      summary: 'Move competencies to group'
      operationId: MoveCompetenciesToGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCompetenciesToGroup'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Group not found'
  /performance-management/competencies/group/list:
    get:
      tags:
        - performance-management
      summary: 'List competency groups'
      operationId: ListCompetencyGroups
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyGroup'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyGroup'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /performance-management/competencies/competency/list:
    post:
      tags:
        - performance-management
      summary: 'List competencies'
      operationId: ListCompetencies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCompetenciesRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Competency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Competency'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /performance-management/competencies/competency/create:
    post:
      tags:
        - performance-management
      summary: 'Create competency'
      operationId: CreateCompetency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompetencyData'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'The competency ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The competency ID'
                type: string
                format: uuid
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/performance-management/competencies/competency/{competencyId}/change':
    post:
      tags:
        - performance-management
      summary: 'Change competency'
      operationId: ChangeCompetency
      parameters:
        -
          name: competencyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCompetencyData'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Competency not found'
  '/performance-management/competencies/competency/{competencyId}/indicator/create':
    post:
      tags:
        - performance-management
      summary: 'Create competency indicator'
      operationId: CreateCompetencyIndicator
      parameters:
        -
          name: competencyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompetencyIndicatorData'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'The competency indicator ID'
                type: string
                format: uuid
            application/xml:
              schema:
                description: 'The competency indicator ID'
                type: string
                format: uuid
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/performance-management/competencies/competency/{competencyId}/indicator/{indicatorId}/change':
    post:
      tags:
        - performance-management
      summary: 'Change competency indicator'
      operationId: ChangeCompetencyIndicator
      parameters:
        -
          name: competencyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        -
          name: indicatorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompetencyIndicatorData'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Indicator not found'
  /performance-management/competencies/profile/list:
    post:
      tags:
        - performance-management
      summary: 'List competency profiles'
      operationId: ListCompetencyProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCompetencyProfilesRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyProfile'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetencyProfile'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /performance-management/appraisal/session/list:
    post:
      tags:
        - performance-management
      summary: 'List appraisal sessions'
      operationId: ListAppraisalSessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAppraisalSessionsRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSession'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSession'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/employee-card/list':
    get:
      tags:
        - performance-management
      summary: 'List appraisal session employee cards'
      operationId: ListAppraisalSessionEmployeeCards
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionEmployeeCard'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionEmployeeCard'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/review/list':
    get:
      tags:
        - performance-management
      summary: 'List appraisal session reviews'
      operationId: ListAppraisalSessionReviews
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionReview'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionReview'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/results':
    get:
      tags:
        - performance-management
      summary: 'Get appraisal session results'
      operationId: GetAppraisalSessionResults
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionEmployeeResults'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionEmployeeResults'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/performance-management/appraisal/session/{sessionId}/content/competencies':
    get:
      tags:
        - performance-management
      summary: 'Get appraisal session content competencies'
      operationId: GetAppraisalSessionContentCompetencies
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppraisalSessionContentCompetencies'
            application/xml:
              schema:
                properties:
                  '': { $ref: '#/components/schemas/AppraisalSessionContentCompetencies' }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/user/attributes/list':
    post:
      tags:
        - performance-management
      summary: 'List appraisal session user attributes'
      operationId: ListAppraisalSessionUserAttributes
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAppraisalSessionUserAttributesRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionUserAttributes'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppraisalSessionUserAttributes'
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/start':
    post:
      tags:
        - performance-management
      summary: 'Start appraisal session'
      operationId: StartAppraisalSession
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartAppraisalSessionStatusCode'
            application/xml:
              schema:
                $ref: '#/components/schemas/StartAppraisalSessionStatusCode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/restart':
    post:
      tags:
        - performance-management
      summary: 'Restart appraisal session'
      operationId: RestartAppraisalSession
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestartAppraisalSessionStatusCode'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestartAppraisalSessionStatusCode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/complete':
    post:
      tags:
        - performance-management
      summary: 'Complete appraisal session'
      operationId: CompleteAppraisalSession
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
  '/performance-management/appraisal/session/{sessionId}/update':
    post:
      tags:
        - performance-management
      summary: 'Updating the appraisal session'
      operationId: UpdateAppraisalSession
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppraisalSessionRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  /performance-management/appraisal/session/create:
    post:
      tags:
        - performance-management
      summary: 'Creating the appraisal session'
      operationId: CreateAppraisalSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppraisalSessionRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'Created session id'
                type: string
                format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/employee-card/add':
    post:
      tags:
        - performance-management
      summary: 'Add employee cards to the appraisal session'
      operationId: AddAppraisalSessionEmployeeCards
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppraisalSessionEmployeeCardsRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/employee-card/reviewer/replace':
    post:
      tags:
        - performance-management
      summary: 'Replaces employee card reviewers in an appraisal session'
      operationId: ReplaceAppraisalSessionEmployeeReviewers
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAppraisalSessionEmployeeReviewersRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/employee-card/remove':
    post:
      tags:
        - performance-management
      summary: 'Remove employee cards from the appraisal session'
      operationId: RemoveAppraisalSessionEmployeeCards
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAppraisalSessionEmployeeCardsRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/employee-card/reviewer/remove':
    post:
      tags:
        - performance-management
      summary: 'Remove reviewers from the appraisal session'
      operationId: RemoveAppraisalSessionReviewers
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAppraisalSessionReviewersRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/question/add':
    post:
      tags:
        - performance-management
      summary: 'Adding the appraisal session question'
      operationId: AddAppraisalQuestion
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppraisalQuestionRequest'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                description: 'Added question id'
                type: string
                format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/question/{questionId}/update':
    post:
      tags:
        - performance-management
      summary: 'Updating the appraisal session question'
      operationId: UpdateAppraisalQuestion
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        -
          name: questionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppraisalQuestionRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/question/change-order':
    post:
      tags:
        - performance-management
      summary: 'Changing the appraisal session question orders'
      operationId: ChangeAppraisalQuestionOrders
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAppraisalQuestionOrdersRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/question/{questionId}/remove':
    post:
      tags:
        - performance-management
      summary: 'Removing the appraisal session question'
      operationId: RemoveAppraisalQuestion
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        -
          name: questionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/permissions/add':
    post:
      tags:
        - performance-management
      summary: 'Adding the appraisal session permissions'
      operationId: AddAppraisalSessionPermissions
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppraisalSessionPermissionsRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/permissions/remove':
    post:
      tags:
        - performance-management
      summary: 'Removing the appraisal session permissions'
      operationId: RemoveAppraisalSessionPermissions
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAppraisalSessionPermissionsRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/info':
    get:
      tags:
        - performance-management
      summary: 'Getting the appraisal session full info'
      operationId: GetAppraisalSessionInfo
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppraisalSessionInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  '/performance-management/appraisal/session/{sessionId}/notification/change':
    post:
      tags:
        - performance-management
      summary: 'Changing the appraisal session notification settings'
      operationId: ChangeAppraisalSessionNotificationSettings
      parameters:
        -
          name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAppraisalSessionNotificationSettingsRequest'
      responses:
        '200':
          description: 'Success Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  /report/active-users-by-period:
    get:
      tags:
        - report
      summary: 'Get active users'
      operationId: GetUsersWithActivity
      parameters:
        -
          name: activityDate
          in: query
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
                  xml: { name: id, wrapped: true }
            application/xml:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/ActiveUsersByPeriod' }
                type: object
                xml:
                  name: response
                  wrapped: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  /report/answer-breakdown:
    get:
      tags:
        - report
        - quizzes
      summary: 'Retrieves a paginated list of answers results for answer breakdown report'
      operationId: ListAnswerBreakdownResults
      parameters:
        -
          $ref: '#/components/parameters/pageSize'
        -
          $ref: '#/components/parameters/pageToken'
        -
          name: quizId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        -
          name: parentCourseId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        -
          name: userIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: enrollmentIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: departmentIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: groupIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        -
          name: attemptDate
          in: query
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/DateRange'
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerBreakdownResultsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/AnswerBreakdownResultsPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/training/{trainingId}':
    get:
      tags:
        - training
      summary: 'Retrieves information about training'
      operationId: GetTrainingById
      parameters:
        -
          name: trainingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/Training' }
                type: object
            application/xml:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/Training' }
                type: object
                xml:
                  name: response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
  '/training/session/{trainingSessionId}':
    get:
      tags:
        - training
      summary: 'Retrieves training session information'
      operationId: GetTrainingSession
      parameters:
        -
          name: trainingSessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Success Response'
          content:
            application/json:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/TrainingSession' }
                type: object
            application/xml:
              schema:
                properties:
                  response: { $ref: '#/components/schemas/TrainingSession' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 'Session not found'
          content:
            text/plain:
              schema:
                type: string
                example: 'Training session not found'
  '/training/{trainingId}/sessions':
    get:
      tags:
        - training
      summary: 'Retrieves information about sessions by training id'
      operationId: ListSessionsByTrainingId
      parameters:
        -
          name: trainingId
          in: path
          required: true
          schema:
            type: string
[...]
